<%- include("header") -%>

<div class="loginCon">

  <form action="/login" method="post">
  <div class="form-group">
    <label for="userName">User Name:</label>
    <input type="text" class="form-control" name="userName" placeholder="User Name">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
