<%- include("header") -%>

<div class="btnCon">
  <a href="/">Back</a>
</div>

<div class="selectCon">
  <span>Choose Month:</span>
  <select id="monthIndex">
    <option value="1">Last Month</option>
    <option value="2">Last 2nd Month</option>
    <option value="3">Last 3nd Month</option>
    <option value="4">Last 4nd Month</option>
    <option value="5">Last 5nd Month</option>
    <option value="6">Last 6nd Month</option>
    <option value="7">Last 7nd Month</option>
  </select>
</div>

<div id="container"></div>

  <script type="text/javascript" src="/pretransFunc.js"></script>

  <script type="text/javascript">

    function getTransArr(selectMonth){
      let currDate = new Date();
      let currYear= currDate.getFullYear(), currMonth = currDate.getMonth() + 1;

      let preMonth;

      if(currMonth - selectMonth == 0){
        preMonth = 12
      }else{
        preMonth = currMonth-selectMonth;
      }

      let trans = <%- JSON.stringify(trans)%>

      let filteredTrans = trans.filter((tran) => {
        return (tran.date.split("-")[0] == currYear && tran.date.split("-")[1] == preMonth)
      });

      filteredTrans.sort(function(a, b) { return new Date(a.date) - new Date(b.date) });

      return filteredTrans;
    }

    const monthIndexEle = document.getElementById("monthIndex");

    let transArr = getTransArr(monthIndexEle.value);
    populateTrans(transArr)

    monthIndexEle.addEventListener("change", () => {
      transArr = getTransArr(monthIndexEle.value);
      populateTrans(transArr);
    })

  </script>
</body>

</html>
